/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

/* Ensures that React app takes full width and height */
#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
